/* colors:
primary: #F2BD27
secondary: #001529
accent: #17A09A, #DF4E38

*/

body {
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  max-height: 768px;
  max-width: 1366px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.chatbox-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatbox-container {
  border-color: #f2bd27;
  width: 200px;
  height: 300px;
}
