.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatbox-container {
  height: 575px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.convo-container {
  height: 100%;
  overflow-y: auto;
}
.user-input {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  /* align-items: center; */
}
.user-message {
}
.assistant-message {
}
